/* src/components/MainPage/styles/ResetPassword.css */

.reset-password-container {
  padding: 20px;
  margin-top: 20px;
}

.card {
  border-radius: 30px;
  overflow: hidden;
}

.info-container-sing {
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 70%;
  margin-bottom: 70px;
  margin-left: 20px;
  padding: 40px;
  color: white;
  background-image: url("https://plus.unsplash.com/premium_photo-1682144324433-ae1ee89a0238?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover; /* Ajusta la imagen al contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  z-index: 1; /* Coloca el contenedor de información debajo de la capa translúcida */
  animation: slideIn 0.5s ease-out; /* Aplica la animación */
}

.info-container-sing::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 10, 34, 0.6); /* Color negro con 60% de opacidad */
  border-radius: 30px; /* Asegura que coincida con el borde del contenedor */
  z-index: 0; /* Coloca la capa translúcida debajo del contenido */
}

.text-container {
  position: relative;
  z-index: 2;
  text-align: center;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

h2 {
  z-index: 100;
}
